<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12 main-chart">
              <div>
                  <div ng-repeat="name in names" style="display:block;"> {{name}}</div>
              </div>
              <section class="aboutpage">
              <h2 class="topPageHeader">Meet the Team</h2>
              <br>
              <div class="row">
              <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img data-src="http://i.imgur.com/oDRgegt.jpg?1" style="height: 200px; width: 100%; display: block;">
              <div class="caption">
              <h3>Erik Mellum</h3>
              <p>Front / Back Developer</p>
              </div>
              </div>
              </div>
              <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img data-src="https://media.licdn.com/media/p/7/005/059/2cb/276b103.jpg" alt="100%x200" src="https://pbs.twimg.com/profile_images/1610510720/ugly.jpg" style="height: 200px; width: 100%; display: block;">
              <div class="caption">
              <h3>Jayd Saucedo</h3>
              <p>Backend Developer</p>
              </div>
              </div>
              </div>
              <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img data-src="http://imgur.com/ZLnCIen" alt="100%x200" src="http://img3.wikia.nocookie.net/__cb20120116072625/thecreatures/images/0/09/Ugly-guy.jpg" style="height: 200px; width: 100%; display: block;">
              <div class="caption">
              <h3>Cameron Brownfield</h3>
              <p>Backend Developer</p>
              </div>
              </div>
              </div>
              <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img data-src="/lib/Billy.jpg" alt="100%x100%" src="/lib/Billy.jpg" style="height: 200px; width: 100%; display: block;">
              <div class="caption">
              <h3>Billy Steffenhagen</h3>
              <p>Frontend Developer</p>
              </div>
              </div>
              </div>
              <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <a href="https://www.linkedin.com/profile/view?id=349941721&trk=nav_responsive_tab_profile_pic" target="_blank"><img data-src="/lib/yaseenaniss.png" alt="100%x200" src="/lib/yaseenaniss.png" style="height: 200px; width: 100%; display: block;"></a>
              <div class="caption">
              <h3>Yaseen Aniss</h3>
              <p>Frontend Developer</p>
              </div>
              </div>
              </div>
              </div>
              </div>
              </section>
           </div><!-- /col-lg-3 -->
        </div><!-- /row -->
    </section>
</section>
