<section id="main-content">
  <section class="wrapper">

    <div class="row">
      
      <div class="create-form form-vertical createRecipeForm">
        <h1>Create Recipe</h1>
        <hr>
        <div class="form-group">
          <h2>User Name:</h2>
          <input class="form-control" ng-model="userName" placeholder="user name" autofocus>
          <h2>Recipe Name:</h2>
          <input class="form-control" ng-model="recipeName" placeholder="recipe name" autofocus>
        </div>
        
        <hr>

        <div class="form-group">
          <h2>Add Ingredient</h2>
          <input class="form-inline" ng-model="currentIngredient.name" placeholder="ingredient name"> 
          <input class="form-inline" ng-model="currentIngredient.quantity" placeholder="quantity">
          <input class="form-inline"  ng-model="currentIngredient.unit" placeholder="unit"> 
          <button class="btn" ng-show="ingredients.length<maxIngredients" ng-click="addIngredient()">+</button>
        </div>
        <table class="table table-hover">
          <tr ng-repeat="ingredient in primitiveIngredients | filter: currentIngredient.name | limitTo : 5">
            <td ng-click="setIngredient(ingredient)">{{ingredient.name}}</td>
              <td><button class="glyphicon glyphicon-plus" ng-click="setIngredient(ingredient)"></button></td> 
          </tr>
          <tr ng-repeat="ingredient in abstractIngredients | filter: currentIngredient.name | limitTo : 5">
            <td ng-click="setIngredient(ingredient)">{{ingredient.name}}</td>
              <td><button class="glyphicon glyphicon-plus" ng-click="setIngredient(ingredient)"></button></td> 
          </tr>

          <tr ng-repeat="ingredient in compositionIngredients | filter: currentIngredient.name | limitTo : 5">
            <td ng-click="setIngredient(ingredient)">{{ingredient.name}}</td>
              <td><button class="glyphicon glyphicon-plus" ng-click="setIngredient(ingredient)"></button></td> 
          </tr>

        </table>
        <h2>Recipe Ingredients: {{ingredients.length}}</h2>
        <table class="table table-hover">
          <tr ng-repeat="ingredient in ingredients">
            <td class="ingredientTableData">{{ingredient.name}}</td>
            <td class="ingredientTableData">{{ingredient.quantity}}</td>
            <td class="ingredientTableData">{{ingredient.unit}}</td>
            <td><button class="btn" ng-click="removeIngredient($index)">-</button></td>
          </tr>
        </table>
        <hr>
        <div class="form-group">
          <h2>Add Step</h2>
          <input class="form-inline" ng-model="currentStep.name" placeholder="Name of step"> 
          <input class="form-inline" ng-model="currentStep.details" placeholder="Details on how to perform this step">
          <button class="btn" ng-show="ingredients.length<maxIngredients" ng-click="addStep()">+</button>
        </div>
        
        <h2>Recipe Steps: {{steps.length}}</h2>
        <table class="table table-hover">
          <tr ng-repeat="step in steps">
            <td class="stepTableData">{{step.name}}</td>
            <td class="stepTableData">{{step.details}}</td>
            <td><button class="btn" ng-click="removeStep($index)">-</button></td>
          </tr>
        </table>
        <hr>
        <button class="btn btn-submit"ng-click="inputRecipe()">Create</button>
      </div>

      </div><!-- /col-lg-3 -->
            </div><!-- /row -->
        </section>
    </section>
