  <div ng-controller="InputController">
    <form novalidate class="simple-form">
    
    <input ng-model="comp.name" placeholder="recipe name" autofocus>
    <input ng-model="comp.ingredient" placeholder="ingredient" autofocus>
    <input ng-model="comp.unit" placeholder="unit" autofocus>
    <input ng-model="comp.quantity" placeholder="quantity" autofocus>
    <button ng-click="inputRecipe(comp)">SUBMIT</button>

    </form>
  </div>
  


