<section id="main-content">
    <section class="wrapper">

        <div class="row">
        
          <div class="col-lg-12 main-chart">  

  </div><!-- /row mt -->
  <div class="create-form">
    <h2>Recipe Name:</h2>
    <input ng-model="recipeName" placeholder="recipe name" autofocus>
    <h2>UserName:</h2>
    <input ng-model="userName" placeholder="username"><br />
    <h2>Ingredients: {{ingredients.length}}</h2>
    <button ng-show="ingredients.length<maxIngredients" ng-click="ingredients[ingredients.length] = currentIngredient">+</button>
    <button ng-show="ingredients.length>0" ng-click="ingredients.splice(ingredients.length,ingredients.length)">-</button><br />
    <input ng-model="currentIngredient.name" placeholder="ingredient name" required> 
    <input ng-model="currentIngredient.quantity" placeholder="quantity" required>
    <input ng-model="currentIngredient.unit" placeholder="unit"> <br />
    <span class="ingredientTableHeader">Ingredients:</span>
    <table>
    <tr ng-repeat="ingredient in ingredients">
        <td class="ingredientTableData">{{ingredient.name}}</td>
        <td class="ingredientTableData">{{ingredient.quantity}}</td>
        <td class="ingredientTableData">{{ingredient.unit}}</td>
    </tr>
    </table>
    <form novalidate class="simple-form" action="#/search" method="get">
    <button ng-click="inputRecipe(recipeName)" type=submit>Create</button>(This currently re-directs to "index/search" for testing purposes after the object is posted to the db")
    </form>
  </div>


<div class="row mtbox">
    <div class="col-md-6 col-sm-6 col-md-offset-3 box0">
      <div class="box1">
        <span class="li_pen"></span>
        <h3>Create Recipe</h3>
      </div>
      <p></p>
    </div>

  </div><!-- /row mt -->

  </div><!-- /col-lg-3 -->
        </div><!-- /row -->
    </section>
</section>