<section id="main-content">
  <section class="wrapper">

    <div class="row">
      
      <div class="create-form form-vertical createRecipeForm">
        <h1>Create Recipe</h1>
        <hr>
        <div class="form-group">
          <h2>User Name:</h2>
          <input class="form-control" ng-model="userName" placeholder="user name" autofocus>
          <h2>Recipe Name:</h2>
          <input class="form-control" ng-model="recipeName" placeholder="recipe name" autofocus>
        </div>
        
        <hr>

        <div class="form-group">
          <h2>Add Ingredient</h2>
          <input class="form-inline" ng-model="currentIngredient.name" placeholder="ingredient name"> 
          <input class="form-inline" ng-model="currentIngredient.quantity" placeholder="quantity">
          <input class="form-inline"  ng-model="currentIngredient.units" placeholder="units"> 
          <button class="btn" ng-show="ingredients.length<maxIngredients" ng-click="addIngredient()">+</button>
        </div>
        <table class="table table-hover">
          <tr ng-repeat="ingredient in combinedIngredients | filter: currentIngredient.name | limitTo : 5" ng-class="ingredient.type">
            <td ng-click="setIngredient(ingredient)">{{ingredient.name}}</td>
              <td><button class="glyphicon glyphicon-plus" ng-click="setIngredient(ingredient)"></button></td> 
          </tr>
        </table>
        <h2>Recipe Ingredients: {{ingredients.length}}</h2>
        <table class="table table-hover">
          <tr>
            <td>Number</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Units</td>
            <td>Type</td>
          </tr>
          <tr ng-repeat="ingredient in ingredients" ng-class="ingredient.type">
            <td class="ingredientTableData">Ingredient #{{$index+1}}</td>
            <td class="ingredientTableData">{{ingredient.name}}</td>
            <td class="ingredientTableData">{{ingredient.quantity}}</td>
            <td class="ingredientTableData">{{ingredient.units}}</td>
            <td class="ingredientTableData">{{ingredient.type}}</td>
            <td><button class="btn" ng-click="removeIngredient($index)">-</button></td>
          </tr>
        </table>
        <hr>
        <div class="form-group">
          <h2>Add Step</h2>
          <input class="form-inline" ng-model="currentStep.name" placeholder="Name of step"> 
          <br>
          <textarea cols="50" rows="5" ng-model="currentStep.details" placeholder="Details on how to perform this step"></textarea>
          <br>
          <button class="btn" ng-show="ingredients.length<maxIngredients" ng-click="addStep()">+</button>
        </div>
        
        <h2>Recipe Steps: {{steps.length}}</h2>
        <table class="table table-hover">
          <tr>
            <td>Number</td>
            <td>Name</td>
            <td>Instruction</td>
          </tr>
          <tr ng-repeat="step in steps">
            <td class="ingredientTableData">Step #{{$index+1}}</td>
            <td class="stepTableData"><editable data="somedata"></editable></td>
            <td class="stepTableData">{{step.details}}</td>
            <td><button class="btn" ng-click="removeStep($index)">-</button></td>
          </tr>
        </table>
        <hr>
        <button class="btn btn-submit"ng-click="inputRecipe()">Create</button>
      </div>

      </div><!-- /col-lg-3 -->
            </div><!-- /row -->

