  <h1>Recipe Data</h1>
  <ul class="chosen-foodlist">
    <li class="food cf">
      <div class="info inline">
        <h2>{{recipeData.name}}</h2>
      </div></a>
    </li>
  </ul>  
  <h1>Total Time</h1>
  <ul class="chosen-foodlist">
    <li class="food cf">
      <div class="info inline">
        <h2>{{recipeData.totalTime}}</h2>
      </div></a>
    </li>
  </ul>  
    <h1>Rating</h1>
  <ul class="chosen-foodlist">
    <li class="food cf">
      <div class="info inline">
        <h2>{{recipeData.rating}}</h2>
      </div></a>
    </li>
  </ul>  
  <h1>Ingredients</h1>
  <ul class="chosen-foodlist">
    <li class="food cf" ng-animate="animate" ng-repeat="recipe in recipeData.ingredientLines">
      <div class="info inline">
        <h2>{{recipe}}</h2>
      </div></a>
    </li>
  </ul>  
