    
<section id="main-content">
  <section class="wrapper">

    <div class="row">
    
      <div class="col-lg-4 main-chart">
        <h2>{{recipeData.name}}</h2>
        <img ng-src="{{recipeData.images[0].hostedLargeUrl}}"/>
        <h2><button style="width:350px;">
            <a href ={{recipeData.source.sourceRecipeUrl}} target="_blank"> View Recipe Source </a>
        </button></h2>
      </div>

      <div class="col-lg-6 main-chart">

        <div ng-if="ingredientsExist()">
          <h1 class="titleColor shrink-left move-left" ng-if="yieldExists()">  Yield : {{recipeData.yield}} </h1>
          <h1 class="titleColor shrink-left move-left">Ingredients</h1>
          <ul class="chosen-foodlist">
            <li class="food cf" ng-animate="animate" ng-repeat="recipe in ingredients track by $index">
              <div class="info inline">
                <h2>{{recipe}}</h2>
              </div>
            </li>
          </ul> 
        </div>
    
      </div><!-- /col-lg-8 -->

      <div class="col-lg-2 main-chart">
        <div ng-if="timeExists()">
          <h1 class="titleColor">Total Time</h1>
          <ul class="chosen-foodlist">
            <li class="food cf">
              <div class="info inline">
                <h2>{{recipeData.totalTime}}</h2>
              </div>
            </li>
          </ul>
        </div> 

        <h1 class="titleColor">Rating</h1>
        <ul class="chosen-foodlist">
          <li class="food cf">
            <div class="info inline">
              <h2 class="ingredient-position">{{recipeData.rating}} stars</h2>
            </div>
          </li>
        </ul>
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </section>
</section>