
<section class="foodpage">
  <div class="search">
    <h1 class="middle">Recipe Search</h1>
    <label>search: </label>

    <input ng-model="match" placeholder="Search for foods" autofocus>
  </div>
  <ul class="foodlist">
    <li class="food cf" ng-animate="animate" ng-repeat="name in query_result | filter: match">
      <a href="#/recipes" ng-click="switchAndDisplay(name, query_result, $index)"><div >
      <div class="info inline">
        <h2>{{name.name}}</h2>
      </div></a>
    </li>
  </ul>  
</section>
<div id="recipe-list" class="middle">
  <h1>Recipes</h1>
  <ul class="chosen-foodlist">
    <li class="food cf" ng-animate="animate" ng-repeat="name in recipes">
      <a href="#/details/{{name}}" ng-click="details(name, $index)"><div >
      <div class="info inline">
        <h2 class="text-align-left">{{name.name}}</h2>
      </div></a>
    </li>
  </ul>  
</div>
<div id="results-list" class="middle">
  <h1>Chosen Ingredients</h1>
    <ul class="chosen-foodlist">
    <li class="food cf" ng-animate="animate" ng-repeat="name in chosen_ingredients">
      <a href="#/recipes" ng-click="remove(chosen_ingredients, $index)"><div >
      <div class="info inline">
        <h2 class="text-align-left">{{name.name}}</h2>
      </div></a>
    </li>
  </ul> 
  
</div>


