
<section class="foodpage">
  <div class="search">
    <h1 class="middle">Recipe Search</h1>
    <label>search: </label>

    <input ng-model="match" ng-keyup="queryIngredients(match)" placeholder="Search for foods" autofocus>
  </div>
  <ul class="foodlist">
    <li class="food cf" ng-animate="animate" ng-repeat="ingredient in query_result">
      <a href="#/search" ng-click="switchAndDisplay(ingredient, query_result, $index)"><div >
      <div class="info inline">
        <h2>{{ingredient.name}}</h2>
      </div></a>
    </li>
  </ul>  
</section>
<div id="recipe-list" class="middle">
  <h1>Recipes</h1>
  <ul class="chosen-foodlist">
    <li class="food cf" ng-animate="animate" ng-repeat="recipe in recipes">
      <a href="#/details/{{recipe}}" ng-click="details(recipe, $index)"><div >
      <div class="info inline">
        <h2 class="text-align-left">{{recipe.name}}</h2>
      </div></a>
    </li>
  </ul>  
</div>
<div id="results-list" class="middle">
  <h1>Chosen Ingredients</h1>
    <ul class="chosen-foodlist">
    <li class="food cf" ng-animate="animate" ng-repeat="ingredient in chosen_ingredients">
      <a href="#/search" ng-click="remove(chosen_ingredients, $index)"><div >
      <div class="info inline">
        <h2 class="text-align-left">{{ingredient.name}}</h2>
      </div></a>
    </li>
  </ul> 
</div>