<aside>
    <div id="sidebar"  class="nav-collapse ">

        <!-- sidebar menu start
        <ul class="sidebar-menu" id="nav-accordion">
            <h5 class="centered">Ingredients Added</h5>

            <li ng-animate="'animate'"class="mt animatedRepeat" ng-class="{shrinkIngredients : (chosen_ingredients.length + excluded_ingredients.length) > 4}" ng-repeat="ingredient in chosen_ingredients">
                <a class="active ingredientText" ng-click="remove(chosen_ingredients, $index)">
                    <span><i class="fa fa-check-circle"></i>{{ingredient.name}}</span><i class="fa fa-close" style="float: right; margin-right: 10px; margin-top: 5px" ng-click="remove(chosen_ingredients, $index)"></i>
                </a>
            </li>
            <br>
            <br>
            <h5 class="centered">Ingredients Excluded</h5>
            <li ng-animate="'animate'" class="mt excludedIngredient animatedRepeat" ng-class="{shrinkIngredients : (chosen_ingredients.length + excluded_ingredients.length) > 4}" ng-repeat="ingredient in excluded_ingredients">
                <a class="active excludedIngredient ingredientText" ng-class="{shrinkIngredients : (chosen_ingredients.length + excluded_ingredients.length) > 7)}">
                    <span><i class="fa fa-ban"></i>{{ingredient.name}}</span><i class="fa fa-close" style="float: right; margin-right: 10px; margin-top: 5px" ng-click="remove(excluded_ingredients, $index)"></i>
                </a>
            </li>
        </ul>
        -->

       <ul class="sidebar-menu" id="nav-accordion">
            <h5 class="centered">Ingredients Added</h5>

            <li ng-animate="'animate'"class="mt animatedRepeat"  ng-repeat="ingredient in chosen_ingredients">
                <a class="active ingredientText" ng-click="remove(chosen_ingredients, $index)">
                    <span><i class="fa fa-check-circle"></i>{{ingredient.name}}</span><i class="fa fa-close" style="float: right; margin-right: 10px; margin-top: 5px" ng-click="remove(chosen_ingredients, $index)"></i>
                </a>
            </li>
            <br>
            <br>
            <h5 class="centered">Ingredients Excluded</h5>
            <li ng-animate="'animate'" class="mt excludedIngredient animatedRepeat" ng-repeat="ingredient in excluded_ingredients">
                <a class="active excludedIngredient ingredientText" >
                    <span><i class="fa fa-ban"></i>{{ingredient.name}}</span><i class="fa fa-close" style="float: right; margin-right: 10px; margin-top: 5px" ng-click="remove(excluded_ingredients, $index)"></i>
                </a>
            </li>
        </ul>

        <br>
        <br>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-8 main-chart">
              <div class="row mtbox">
                <div class="col-md-6 col-sm-6 col-md-offset-3 box0">
                  <div class="box1">
                    <span class="li_search"></span>
                    <h3>Add Ingredients</h3>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="match" ng-keyup="queryIngredients(match)" ng-enter="insert(match)" placeholder="Search Ingredients...To exclude, type 'not' followed by ingredient name" autofocus>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="insert(match)"><strong>+</strong></button>
                    </span>
                  </div>
                  <ul class="foodlist">
                    <li class="searchIngredientResults" ng-if="match.length > 0" class="repeated-item food cf shrink animatedRepeat" ng-animate="'animate'" ng-repeat="ingredient in query_result">
                      <a href="#/search" ng-click="switchAndDisplay(ingredient)">
                      <div class="info inline">
                        <h2>{{ingredient.name}}</h2>
                      </div></a>
                    </li>
                  </ul>
                  <!-- /input-group -->
                  <p>Find ingredients you want to be in the recipe</p>
                </div>

              </div><!-- /row mt -->

              <div class="col-md-6 col-sm-6 mb popRecipe">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>POPULAR RECIPE</h5>
                  </div>
                  <div class="row">
                    <div class="centered">
                      <h2><i class="fa fa-heart"></i> 27</h2>
                    </div>
                  </div>
                  <div class="row shrink-sides shrink-right shrink-left">
                      <div class="centered">
                        <h3>Best Sandwich Ever Made</h3>
                      </div>
                  </div>
                  <button type="button" class="btn btn-theme04">view recipe</button>
                </div><! --/grey-panel -->
              </div><!-- /col-md-6-->
        
              <div class="col-md-6 col-sm-6 mb popRecipe">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>POPULAR RECIPE</h5>
                  </div>
                  <div class="row">
                      <div class="centered">
                      <h2><i class="fa fa-heart"></i> 2</h2>
                      </div>
                  </div>
                  <div class="row shrink-right shrink-left">
                    <div class="centered">
                        <h3>Terminal Velocity Bean Casserole</h3>
                    </div>
                  </div>
                  <button type="button" class="btn btn-theme04">view recipe</button>
                </div><! --/grey-panel -->
              
              </div><!-- /col-md-6-->
            </div><!-- /col-lg-9 END SECTION MIDDLE -->
<!-- **********************************************************************************************************************************************************
RIGHT SIDEBAR CONTENT
*********************************************************************************************************************************************************** -->                  
            
            <div class="col-lg-4 ds">
              <h3 class="rightBarFix">Recipes Containing Added Ingredients</h3>
                                  
                <div ng-animate="'animate'" class="desc animatedRepeat recipeResultContainer" ng-repeat="recipe in recipes" ng-init="recipeHover" ng-mouseover="recipeHover=true" ng-mouseleave="recipeHover=false">
                  <div class="thumb">
                    <span class="badge bg-theme">
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div class="details">
                    <p>
                    {{recipe.recipeName}} - {{recipe.totalTimeInSeconds/60}} minutes

                    </p>

                    <a class="recipePreviewLink" href="#/search" ng-click="details($index)">View Recipe</a>
                  </div>
                  <div>
                     <img class="imgPreview" ng-src="{{recipe.smallImageUrls[0]}}">
                     </div>
                </div>
                

            </div><!-- /col-lg-3 -->
        </div><!-- /row -->
    </section>
</section>


