<!DOCTYPE html>
<!--
    JBoss, Home of Professional Open Source
    Copyright 2013, Red Hat, Inc. and/or its affiliates, and individual
    contributors by the @authors tag. See the copyright.txt in the
    distribution for a full listing of individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<!-- Plain HTML page that kicks us into the app -->

<html ng-app="myApp">
<head>
  <meta charset="UTF-8"> 
  <!-- IMPORTS -->
  
      <!-- Boostrap Core & JQUERRY -->
      <script src="lib/jquery/dist/jquery.min.js"></script>
      <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>      
    
      <!-- Angular JS -->
      <script src="lib/angular/angular.min.js"></script>
      <script src="lib/angular-route/angular-route.min.js"></script>
      <script src="lib/angular-animate/angular-animate.min.js"></script>
      
      <!-- Services -->
      <script src="angular/app.js"></script>

      
      <!-- Custom CSS -->
      <link href="styles/main.css" rel="stylesheet">

      <!-- jQuery -->

  
</head>
  <body>
      <!--  NAV  -->
      <div class="container-fluid nav-bar">
        <div class="row">
          <ul class="nav nav-pills nav-justified"  role="tablist">
               <li><a href="#/search">Search</a></li>
              <li><a href="#/about">About</a></li>
              <li><a href="#/create">Create</a></li>
          </ul>
        </div>  
      </div>
      <hr>
       <div class="container-fluid main">
        <div class="row">
          <div class="col-lg-12">
            <ng-view>
          
            </ng-view>
          </div>
        </div>
       </div>
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>

</html>
