<aside>
    <div id="sidebar"  class="nav-collapse ">
    <button type="button" id="clear-data" class="btn btn-warning shift-down" ng-click="clearData()" ng-confirm="Are you sure you want to clear the data?">Clear Data</button>

        <!-- sidebar menu start

        <ul class="sidebar-menu" id="nav-accordion">
            
            <h5 class="centered">Ingredients Added</h5>

            <li ng-animate="'animate'"class="animatedRepeat" ng-repeat="ingredient in chosen_ingredients">
                <a class="" ng-click="remove(chosen_ingredients, $index)">
                  <div class="row">
                    <span class="col-lg-9">
                      <i class="fa fa-check-circle"></i>{{ingredient.name}}
                    </span>
                    <span class="col-lg-2">
                      <i class="fa fa-close" ng-click="remove(chosen_ingredients, $index)"></i>
                    </span>
                  </div>
                </a>
            </li>
            <li ng-animate="'animate'" class="excludedIngredient animatedRepeat" ng-repeat="ingredient in excluded_ingredients">
                <a class="excludedIngredient">
                  <div class="row">
                    <span class="col-lg-9">
                      <i class="fa fa-ban"></i>{{ingredient.name}}
                    </span>
                    <span class="col-lg-2">
                      <i class="fa fa-close" ng-click="remove(excluded_ingredients, $index)"></i>
                    </span>
                  </div>
                </a>
            </li>
        </ul>
        -->

       <ul class="sidebar-menu" id="nav-accordion">
            <h5 class="centered">Ingredients Added</h5>

            <li ng-animate="'animate'"class="animatedRepeat"  ng-repeat="ingredient in chosen_ingredients">
                <a class="ingredientText">
                    <span><i class="fa fa-check-circle"></i>{{ingredient.name}}</span><i class="fa fa-close" style="float: right; margin-right: 10px; margin-top: 5px" ng-click="remove(chosen_ingredients, $index)"></i>
                </a>
            </li>
            <li ng-animate="'animate'" class="excludedIngredient animatedRepeat" ng-repeat="ingredient in excluded_ingredients">
                <a class="excludedIngredient ingredientText" >
                    <span><i class="fa fa-ban"></i>{{ingredient.name}}</span><i class="fa fa-close" style="float: right; margin-right: 10px; margin-top: 5px" ng-click="remove(excluded_ingredients, $index)"></i>
                </a>
            </li>
        </ul>
        <!--
        <hr>
        <!--
        <div style=" text-align: center; margin: 0 auto;">
          <h5 class="centered" >You may want to add...</h5>
          <span ng-repeat="ingredient in suggestedIngredients"></span>
        </div>
        <hr>
        !-->
        <h5 class="centered">Meal</h5> 
          
        <div class="toggle_radio" >    
          <input class="meal_toggle_option" id="dessert_toggle" name="meal" type="radio" value="Desserts" ng-model="meal" ng-click="displayRecipes()">
          <input class="meal_toggle_option" id="breakfast_toggle" name="meal" type="radio" value="Breakfast and Brunch" ng-model="meal" ng-click="displayRecipes()">
          <input class="meal_toggle_option" id="lunch_toggle" name="meal" type="radio" checked value="Lunch and Snacks" ng-model="meal" ng-click="displayRecipes()">
          <input class="meal_toggle_option" id="dinner_toggle" name="meal" type="radio" value="Main Dishes" ng-model="meal" ng-click="displayRecipes()">
          <input class="meal_toggle_option" id="salads_toggle" name="meal" type="radio" value="Salads" ng-model="meal" ng-click="displayRecipes()">
          <label class="meal_label" for="dessert_toggle" style="color: white;" >Dessert</label>
          <label class="meal_label" for="breakfast_toggle" style="color: white;" >Morning</label>
          <label class="meal_label" for="lunch_toggle" style="color: white;" >Lunch</label>
          <label class="meal_label" for="dinner_toggle" style="color: white;" >Dinner</label>
          <label class="meal_label" for="salads_toggle" style="color: white;" >Salad</label>
          <div class="meal_toggle_option_slider">
          </div>
        </div>
        <h5 class="centered">Diet</h5>
        <div class="toggle_radio" >
          <input checked class="diet_toggle_option" id="alldiets_toggle" name="diet" type="radio" value="" ng-model="diet" ng-click="displayRecipes()">
          <input class="diet_toggle_option" id="vegetarian_toggle" name="diet" type="radio" value="vegetarian" ng-model="diet" ng-click="displayRecipes()">
          <input class="diet_toggle_option" id="vegan_toggle" name="diet" type="radio" value="vegan" ng-model="diet" ng-click="displayRecipes()">
          <label class="diet_label" for="alldiets_toggle" style="color: white;" >All</label>
          <label class="diet_label" for="vegetarian_toggle" style="color: white;" >Vegetarian</label>
          <label class="diet_label" for="vegan_toggle" style="color: white;" >Vegan</label>
          <div class="diet_toggle_option_slider">
          </div>
        </div>
        <h5 class="centered">Cuisine</h5>
        <div class="toggle_radio" >
          <input checked class="cuisine_toggle_option" id="allcuisine_toggle" name="cuisine" type="radio" ng-model="cuisine" ng-click="displayRecipes()">
          <input class="cuisine_toggle_option" id="american_toggle" name="cuisine" type="radio" value="american" ng-model="cuisine" ng-click="displayRecipes()">
          <input class="cuisine_toggle_option" id="chinese_toggle" name="cuisine" type="radio" value="chinese" ng-model="cuisine" ng-click="displayRecipes()">
          <input class="cuisine_toggle_option" id="mexican_toggle" name="cuisine" type="radio" value="mexican" ng-model="cuisine" ng-click="displayRecipes()">
          <input class="cuisine_toggle_option" id="indian_toggle" name="cuisine" type="radio" value="indian" ng-model="cuisine" ng-click="displayRecipes()">
          <label class="cuisine_label" for="allcuisine_toggle" style="color: white;" >All</label>
          <label class="cuisine_label" for="american_toggle" style="color: white;" >Asian</label>
          <label class="cuisine_label" for="chinese_toggle" style="color: white;" >Indian</label>
          <label class="cuisine_label" for="mexican_toggle" style="color: white;" >Mexican</label>
          <label class="cuisine_label" for="indian_toggle" style="color: white;" >USA</label>
          <div class="cuisine_toggle_option_slider">
          </div>
        </div>
        
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-xs-offset-4 col-xs-8 col-sm-offset-0 col-sm-12 col-lg-8 main-chart">

              <div class="row mtbox">
                <div class="col-sm-12 col-lg-8 col-lg-offset-2 box0">
                  <div class="box1">
                    <span class="li_search" ng-click="changeTitle()" ng-mouseover="hovertest=true" ng-mouseout="hovertest=false" style="display: block;"></span>
                    <span class="searchPrompt" style="font-size: 100%;" ng-animate ng-if="hovertest==true">Click to change to {{searchtype}} search</span>
                    <h3 class="searchTitle" ng-click="changeTitle()">{{pageTitle}}</h3>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="match" ng-keyup="queryIngredients(match)" ng-enter="insert(match)" placeholder="{{placeholder}}" autofocus>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="insert(match)"><strong>+</strong></button>
                    </span>
                  </div>
                  <ul ng-if="(pageTitle!='Search Recipes')"class="foodlist">
                    <li class="searchIngredientResults" ng-if="match.length > 0" class="repeated-item food cf shrink animatedRepeat" ng-animate="'animate'" ng-repeat="ingredient in query_result">
                      <a href="#/search" ng-click="switchAndDisplay(ingredient)">
                      <div class="info inline">
                        <h2>{{ingredient.name}}</h2>
                      </div></a>
                    </li>
                  </ul>
                  <span ng-if="keywords.length > 0 && topRecipes.length > 0">Showing results for: {{searchPhrase}}</span>
                  <!-- Eventually autocomplete the recipe names as they search
                  <ul class="recipenamelist">
                    <li class="searchIngredientResults" ng-if="match.length > 0" class="repeated-item food cf shrink animatedRepeat" ng-animate="'animate'" ng-repeat="ingredient in query_result">
                      <a href="#/search" ng-click="switchAndDisplay(ingredient)">
                      <div class="info inline">
                        <h2>{{ingredient.name}}</h2>
                      </div></a>
                    </li>
                  </ul>
                  !-->
                  <!-- /input-group -->
                  <p>{{placeholderAlt}}</p>
                </div>

              </div><!-- /row mt -->
              <div class="row">y
              <div class="col-sm-6 col-md-6 popRecipe" ng-repeat="recipe in topRecipes">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>{{recipe.name}}<span ng-if="recipe.totalTimeInSeconds != 0"> - {{recipe.totalTimeInSeconds/60}} Minutes</span></h5>
                  </div>
                  <div class="row">
                    <div class="centered">

                      <img class = "shrink-pic" style="max-width: 600px; max-height: 280px;" ng-src="{{recipe.images[0].hostedLargeUrl}}"/>
                    </div>
                    <br>
                    <button type="button" class="btn btn-theme04" ng-click="details($index)">View Recipe</button>
                  </div>
                  <h2><i class="fa fa-heart"></i><span ng-if="recipe.rating != 0">{{recipe.rating}} </span></h2>
                  
                </div><! --/grey-panel -->
              </div><!-- /col-md-6-->
              </div>
            </div><!-- /col-lg-9 END SECTION MIDDLE -->
<!-- **********************************************************************************************************************************************************
RIGHT SIDEBAR CONTENT
*********************************************************************************************************************************************************** -->                  
            
            <div class="col-xs-offset-4 col-xs-8 col-sm-offset-0 col-sm-12 col-md-12 col-lg-4 ds rightBarFix2">
              <h3 class="rightBarFix">Recipes Containing Added Ingredients</h3>
                                  
                <div ng-animate="'animate'" class="desc animatedRepeat recipeResultContainer" ng-repeat="recipe in recipes" ng-init="recipeHover" ng-mouseover="recipeHover=true" ng-mouseleave="recipeHover=false">
                  <div class="thumb">
                    <span class="badge bg-theme">
                      <i class="fa fa-star"></i>
                    </span>
                  </div>
                  <div class="details">
                    <p>
                    {{recipe.recipeName}} - {{recipe.totalTimeInSeconds/60}} minutes

                    </p>

                    <a class="recipePreviewLink" href="#/search" ng-click="details($index+2)">View Recipe</a>
                  </div>
                  <div>
                     <img class="imgPreview" ng-src="{{recipe.smallImageUrls[0]}}">
                     </div>
                </div>
                

            </div><!-- /col-lg-3 -->
        </div><!-- /row -->
    </section>
</section>


<script>
$("#sidebar").niceScroll({styler:"fb",cursorcolor:"#4ECDC4", cursorwidth: '3', cursorborderradius: '10px', background: '#404040', spacebarenabled:false, cursorborder: '', autohidemode: true});
</script>
