input{
  color: black;
}

#searchIngredientResults{ 
  padding: 10px;
  
  margin: 0 auto;
  text-align: left; 
  color: #333;

}
#searchIngredientResults:hover{
  opacity: .9;
}
.delete{
  color: red;
  padding: 0px 2px;
  border: 1px solid black;
  background: #AAA;
}
.titleColor{
  color: #333;
}
.btn-warning{
    background-color: #ff865c;
}
.btn-warning:hover{
  background-color: #ffd777;
}
.shift-down{
  margin-top: 70px;
  margin-left: 30%;
}
.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width:350px;
  background-size: 100%;
/*      position: relative;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;*/
}
.align{
  text-align: center;
}
.tan{
  color: #EEE8D5;
}
.bottom{
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
}

.active{
  background: #145266;
  color: white;
  height: 110%;
  font-size: 110%;
}
.mainLink{
  font-size: 150%;
}

.ingredientTableHeader{
  font-weight: bold;
  width: 420px;
}

.ingredientTableData{
  width: 140px;
}

.rightBarFix{
  margin-bottom: 20px !important;
}
.ingredientText{
  font-size: 120%  !important;
  font-weight: bold  !important;
}

.excludedIngredient {
  background: #F0788A !important;
  
}

.recipeResult:hover{

}

#searchIngredientsResults{
  margin-top: 60px;
  border-radius: 8px;
}

.flexParent{
  position: absolute;
  right: 0px;
}

.flexChild{
  width: 120px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  color: #333;
  margin: 2px 10px;
  float: right;
  margin-top: 15px;
  border-radius: 8px;
  transition-property: opacity, background;
  transition-duration: 1s;
}

.flexChild:hover{
  opacity: .8;
  background: #EFEFEF;
}
.shrink-left{
  margin-left: 5%;
}
.shrink-right{
  margin-right: 5%;
}
.move-left{
  margin-left: 40px;
}

.fa-close{
  transition: all .3s ease-out;
}

.fa-close:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.animatedRepeat{
  transition: all .25s ease-out;
}
.animatedRepeat.ng-enter.ng-enter-active,
.animatedRepeat.ng-leave{
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.animatedRepeat.ng-leave.ng-leave-active,
.animatedRepeat.ng-enter{
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

.recipeResultContainer{
  position: relative;
}

.sidebar{
  overflow: auto !important;
}
.shrinkIngredients{
  position: relative;
  height: 30px !important;
  font-size: 80% !important;
}
.shrinkIngredients a span{
  position: absolute;
  bottom: 5px;
}
.shrinkIngredients i.fa.fa-close {
  position: relative;
  bottom: 8px;
}

.popRecipe{
  overflow: auto;
}
.hide {
    display: none;
}
.ingredient-position{
  position: absolute;
  left: 10%;
}

.createRecipeForm, .createIngredientForm{
  margin: 40px auto;
  width: 900px;
  overflow: auto;
  background: #DDD;
  padding: 10px 20px 20px 40px;
  border-radius: 15px;
  color: #666;
}

.createRecipeForm h2, .createIngredientForm h2{
  color: #222;
}