.wrapper{
  position: relative;
  min-width: 748px;
}

input{
  color: black;
}
.li_search{
  cursor: pointer;
  transition-property: color, transform, display;
  transition-timing: ease-out;
  transition-duration: .6s;
}
.li_search:hover{
  display: block;
  transform: scale(1.1);
  color: #68DFF0;
}
.searchTitle{
  cursor: pointer;
  transition-property: transform, color;
  transition-timing: ease-out;
  transition-duration: .6s;
}
.searchTitle:hover{

  transform: scale(1.1);
  color: #68DFF0;
}
#searchIngredientResults{
  padding: 10px;

  margin: 0 auto;
  text-align: left;
  color: #333;

}
#searchIngredientResults:hover{
  opacity: .9;
}
.delete{
  color: red;
  padding: 0px 2px;
  border: 1px solid black;
  background: #AAA;
}
.titleColor{
  color: #333;
}
.btn-warning{
    background-color: #ff865c;
}
.btn-warning:hover{
  background-color: #ffd777;
}
.shift-down{
  margin-top: 70px;
  margin-left: 30%;
}
.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width:350px;
  background-size: 100%;
/*      position: relative;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;*/
}
.align{
  text-align: center;
}
.tan{
  color: #EEE8D5;
}
.bottom{
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
}

.active{
  background: #145266;
  color: white;
  height: 110%;
  font-size: 110%;
}
.mainLink{
  font-size: 150%;
}

.ingredientTableHeader{
  font-weight: bold;
  width: 420px;
}

.ingredientTableData{
  width: 140px;
}

.rightBarFix{
  margin-bottom: 20px !important;
}

.excludedIngredient:hover {
  background: #F0788A !important;

}

.recipeResult:hover{

}

#searchIngredientsResults{
  margin-top: 60px;
  border-radius: 8px;
}

.flexParent{
  position: absolute;
  right: 0px;
}

.flexChild{
  width: 120px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  color: #333;
  margin: 2px 10px;
  float: right;
  margin-top: 15px;
  border-radius: 8px;
  transition-property: opacity, background;
  transition-duration: 1s;
}

.flexChild:hover{
  opacity: .8;
  background: #EFEFEF;
}
.shrink-left{
  margin-left: 5%;
}
.shrink-right{
  margin-right: 5%;
}
.move-left{
  margin-left: 40px;
}

.fa-close{
  transition: all .3s ease-out;
}

.fa-close:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.animatedRepeat{
  transition: all .3s ease-out;
}
.animatedRepeat.ng-enter.ng-enter-active,
.animatedRepeat.ng-leave{
  transform: scale(1);
}

.animatedRepeat.ng-leave.ng-leave-active,
.animatedRepeat.ng-enter{
  transform: scale(0);
}

.searchPrompt{
  transition: all .3s ease-out;
}
.searchPrompt.ng-enter.ng-enter-active,
.searchPrompt.ng-leave{
  opacity: 1;
  display: inline;
}

.searchPrompt.ng-leave.ng-leave-active,
.searchPrompt.ng-enter{
  opacity: 0;
  display: inline;
}

.recipeResultContainer{
  position: relative;
}

.sidebar{
  overflow: auto !important;
}
.shrinkIngredients{
  position: relative;
  height: 30px !important;
  font-size: 80% !important;
}
.shrinkIngredients a span{
  position: absolute;
  bottom: 5px;
}
.shrinkIngredients i.fa.fa-close {
  position: relative;
  bottom: 8px;
}

.popRecipe{
  overflow: auto;
  height: 500px;
}
.hide {
    display: none;
}
.ingredient-position{
  position: absolute;
  left: 10%;
}

.createRecipeForm, .createIngredientForm{
  margin: 40px auto;
  width: 900px;
  overflow: auto;
  background: #DDD;
  padding: 10px 20px 20px 40px;
  border-radius: 15px;
  color: #666;
}

.createRecipeForm h2, .createIngredientForm h2{
  color: #222;
}

.test {
  font-family: inherit;
}

.bin {
  background: blue;
  width: 200px;
  height: 200px;
}

.item {
  background: red;
  width: 200px;
  height: 200px;
}

.mainArea{
  position: absolute;
  height: 100%;
  width: 100%;
}

.rightBarFix2{
  margin-top: 20px;
}
.shrink-pic{
  width: 78%;
}
div.grey-panel.pn.donut-chart{
  height: 90%;
}
.toggle_radio{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 208px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.meal_label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 35px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.cuisine_label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 35px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.diet_label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 60px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.cuisine_toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 35px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
.diet_toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 60px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
.meal_toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 35px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#dessert_toggle:checked ~ .meal_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#breakfast_toggle:checked ~ .meal_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 43px;
}
#lunch_toggle:checked ~ .meal_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 83px;
}
#dinner_toggle:checked ~ .meal_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 123px;
}
#salads_toggle:checked ~ .meal_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 178px;
}
#alldiet_toggle:checked ~ .diet_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#vegetarian_toggle:checked ~ .diet_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 73px;
}
#vegan_toggle:checked ~ .diet_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 143px;
}
#allcuisine_toggle:checked ~ .cuisine_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#american_toggle:checked ~ .cuisine_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 43px;
}
#chinese_toggle:checked ~ .cuisine_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 83px;
}
#mexican_toggle:checked ~ .cuisine_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 123px;
}
#indian_toggle:checked ~ .cuisine_toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 168px;
}

