input{
  color: black;
}

#searchIngredientResults{ 
  padding: 10px;
  
  margin: 0 auto;
  text-align: left; 
  color: #333;

}
#searchIngredientResults:hover{
  opacity: .9;
}
.delete{
  color: red;
  padding: 0px 2px;
  border: 1px solid black;
  background: #AAA;
}
.titleColor{
  color: #333;
}
.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width:350px;
  background-size: 100%;
/*      position: relative;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;*/
}
.align{
  text-align: center;
}
.tan{
  color: #EEE8D5;
}
.bottom{
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
}

.active{
  background: #145266;
  color: white;
  height: 110%;
  font-size: 110%;
}
.mainLink{
  font-size: 150%;
}

.ingredientTableHeader{
  font-weight: bold;
  width: 420px;
}

.ingredientTableData{
  width: 140px;
}

.rightBarFix{
  margin-bottom: 20px !important;
}
.ingredientText{
  font-size: 120%  !important;
  font-weight: bold  !important;
}

.excludedIngredient {
  background: #F0788A !important;
  
}

.recipeResult:hover{

}

#searchIngredientsResults{
  margin-top: 60px;
  border-radius: 8px;
}

.flexParent{
  position: absolute;
  right: 0px;
}

.flexChild{
  margin-bottom: 1px;
  width: 120px;
  height: 29px;
  border-right: 1px solid black;
  padding-top: 5px;
  text-align: center;
  background: #EFEFEF;
  color: #333;
  float: right;
  display: block;
  -webkit-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.flexChild:hover{
  opacity: .8;
}